{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<!-- For translation -->
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>


<h1 class="d-flex justify-content-center">CALENDAR LAYOUT</h1>
{% include 'calendar/navigate_events.html' %}

<div id="calendar-container">
</div>



<!-- eventsModal -->
<div class="modal fade" id="eventsModal" tabindex="-1" aria-labelledby="eventsModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="eventsModalTitle"></h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="eventsModalBody">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
      </div>
    </div>
  </div>
</div>



<script>
    const yearsData = {{ years|safe }}
    const allEvents = {{ events|safe }}
    const eventTypes = {{ event_types|safe }}
</script>
<script src="{% static 'js/generate_calendar/main_calendar.js' %}" defer type="module"></script>


{% endblock content %}