{% extends '_base.html' %}
{%load django_bootstrap5 %}
{% load i18n %}



{% block content %}
<form action="" method="post" id="my-form">
    {% csrf_token %}
    <h1>{% trans 'New event' %}</h1>
    {% if form.errors %}
    <div class="alert alert-warning alert-dismissable fade show d-flex justify-content-between" role="alert" data-bs-dismiss="alert">
        {% bootstrap_form_errors form %}
        <button type="button" class="btn-close ms-2" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% bootstrap_field form.name %}
    {% bootstrap_field form.start_date %}
    {% if form.errors %}
        {% bootstrap_field form.end_date field_class='form-control is-invalid' %}
    {% else %}
        {% bootstrap_field form.end_date %}
    {% endif %}
    {% bootstrap_field form.description %}
    {% bootstrap_field form.location %}
    <label><input type="checkbox" name="" id="id_is_virtual">{% trans 'Online event' %}</label>
    {% bootstrap_field form.type %}
    {% bootstrap_field form.is_aerial %}
    {% bootstrap_field form.main_link %}


    <button class="btn btn-success d-block mb-3"data-bs-toggle="collapse" data-bs-target="#additional-urls-collapse" type="button">{% trans 'Additonal links' %}</button>
    <div class="collapse" id="additional-urls-collapse">
        {% bootstrap_field form.additional_url_1 %}
        {% bootstrap_field form.additional_label_1 %}
        {% bootstrap_field form.additional_url_2 %}
        {% bootstrap_field form.additional_label_2 %}
    </div>


    <button class="btn btn-success" type="submit">{% trans 'Add' %}</button>
</form>

<!-- Script for the online checkbox -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const isVirtualCheckbox = document.querySelector("#id_is_virtual");
        const locationInput = document.querySelector("#id_location");

        function toggleLocationField() {
            if (isVirtualCheckbox.checked) {
                locationInput.readOnly = true;  // Disable the field
                locationInput.value = "online"; // Set the value to "online"
                console.log(locationInput.value);
            } else {
                locationInput.value = "";       // Clear the value
                locationInput.readOnly = false; // Enable the field
                console.log(locationInput.value);
            }
        }

        // Add event listener for the checkbox
        isVirtualCheckbox.addEventListener("change", toggleLocationField);

        // Initialize the field state on page load
        toggleLocationField();
    });
</script>
{% endblock content %}