{% extends "_base.html" %}
{% load django_bootstrap5 %}
{% load allauth account %}
{% load i18n %}

{% block title %}{% trans "Log In" %}{% endblock title %}

{% block content %}
    <h1>{% trans "Log In" %}</h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-success" type="submit">{% trans "Log In" %}</button>
    </form>
    <a class='btn btn-secondary' href="{% provider_login_url 'google' %}"><i class="bi bi-google"></i> {% trans "Log in with Google" %}</a>

{% endblock content %}
