{% extends "_base.html" %}
{% load django_bootstrap5 %}
{% load socialaccount %}
{% load allauth i18n %}

{% block title %}{% trans "Sign Up" %}{% endblock title %}

{% block content %}
    <h1 class="subpage-heading">{% trans "Sign Up" %}</h1>
    <form method="post">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
    </form>
    <!-- <a class='btn btn-secondary' href="{% provider_login_url 'google' %}"><i class="bi bi-google"></i> {% trans "Sign up with Google" %}</a> -->
{% endblock content %}
