{% extends "_base.html" %}
{% load i18n %}

{% block title %}{% trans "About" %}{% endblock title %}

{% block content %}
    <h1 class="display-1 mt-5">
        <i class="bi bi-calendar3"></i> {% trans 'Aerial Calendar' %}
    </h1>
    <p class="lead mb-5">
        Twój przewodnik po wydarzeniach akrobatyki powietrznej w Polsce
    </p>
    <p class="text-justify">
        Polska społeczność aerial rozwija się w zawrotnym tempie, a wybór wydarzeń związanych z akrobatyką powietrzną w
        naszym kraju jest coraz bogatszy. Mimo to, akrobatyka powietrzna w Polsce jest młodą dyscypliną,
        pozbawioną centralnego organu czy federacji zapewniającego im pełną widoczność. Informacje o warsztatach, zawodach,
        festiwalach czy show są rozproszone i często trudne do znalezienia. Aby dowiedzieć się, co się dzieje,
        musimy przeszukiwać grupy na Facebooku, śledzić profile na Instagramie. Jeśli nie znamy odpowiednich osób
        lub nie mamy czasu na skrupulatne przeszukiwanie internetu, łatwo możemy przegapić interesujące wydarzenia, które
        odbywają się tuż obok nas.
    </p>
    <p class="text-justify">
        Z potrzeby uporządkowania i ułatwienia dostępu do informacji postanowiłem stworzyć <span class="bold">Kalendarium Aerial</span>.
        To narzędzie, które pozwala użytkownikom łatwo przeglądać i dodawać wydarzenia z zakresu akrobatyki powietrznej, zapewniając
        łatwy wgląd do pełnej gamy wydarzeń w tej dziedzinie. Moim celem było stworzenie narzędzia które będzie służyć społeczności aerial
        i wspierać jej rozwój. Na stworzenie Kalendarium Aerial spędziłem sporo czasu i środków z nadzieją, że będzie wartościowym
        wsparciem dla wszystkich miłośników akrobatyki powietrznej w Polsce. Chciałem, aby ta platforma była formą oddania dla
        społeczności – tworzona dla niej i przez nią napędzana.
    </p>

{% endblock content %}
